{% load static %}
{# js for offline development#}

{#<script src="{% static 'css/downloaded/__cdn.jsdelivr.net_npm_promise-polyfill@8_dist_polyfill.js' %}"></script>#}
{#<script src="{% static 'css/downloaded/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js' %}"></script>#}
{#<script src="{% static 'css/downloaded/http_cdn.jsdelivr.net_npm_bootstrap@4.6.0_dist_js_bootstrap.bundle.js' %}"></script>#}
{#<script src="{% static 'css/downloaded/http_cdn.jsdelivr.net_npm_jquery.steps@1.1.1_dist_jquery-steps.js' %}"></script>#}
{#<script src="{% static 'css/downloaded/http_code.jquery.com_jquery-3.5.1.js' %}"></script>#}
{#<script src="{% static 'css/downloaded/http_code.jquery.com_jquery-3.5.1.slim.js' %}"></script>#}
{#<script src="{% static 'css/downloaded/http_kit.fontawesome.com_5c15786488.js' %}"></script>#}


{# js for offline development end#}